body{
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  font-weight: 900;
}

#lamerce-button {
  width: 500px;
	background-color:   #6cad00;
  font-weight: 900;
  text-align: center;
}

#header {
  background: url("/images/imatge1.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

#middle {
    background: url("/images/imatge2.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}

#footer {
  background-color: #414040
}

#footer a {
  color:  #7dd2ff; 
}