body{
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  font-weight: 900;
}

#lamerce-button {
  color: white;
	background-color:   #6cad00;
  width: 300px;
  font-weight: 900;
  text-align: left;
}

#lamerce {
  color:inherit;
}

#navbarNav ul li a{
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: inherit;
  text-align: center;
  color: gray; 
}

#navbarNav ul li a:hover{
  background-color:  #6cad00;
  color: white;
}

#pregunta {
  font-weight: 900;
}

#btn-practiques-cursos {
  background-color:   #6cad00;
}

#header {
  background: url("/images/imatge1.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

#middle {
    background: url("/images/imatge2.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}

#footer {
  background-color: #414040
}

#footer a {
  color:  #7dd2ff; 
}

#index-continguts {

  background-color: #dddddd;
}

#iframe-map {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
